* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(34, 34, 34, 0.75);
    border-radius: 50px;
    width: 5px;
}

.mainInicial {
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background: var(--colorBackground);
}

.divBtnCadPaciente {
    width: 100%;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    padding: 2%;
}

.listPatients {
    width: 100%;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5% 1%;
    gap: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.uniquePatient {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #1baef7;
    transition: all .5s;
}

.uniquePatient:hover {
    transform: scale(1.035);
}

.uniquePatient:hover>span {
    font-weight: 600;
}
.uniquePatient span{
    width: calc(100%/3);
}
/* .uniquePatient span:nth-child(1) {
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
}

.uniquePatient span:nth-child(2) {
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
}

.uniquePatient span:nth-child(3) {
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
} */

/* .uniquePatient span:nth-child(4) {
    width: 8%;
    height: 40px;
    display: flex;
    align-items: center;
} */

.uniquePatient a {
    width: 8%;
    height: 40px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 900;
}
