.btnCadPaciente {
    width: 12vw;
    min-width: 100px;
    height: 5vh;
    min-height: 35px;
    border: none;
    border-radius: 15px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.6);
    font-size: 1em;
    font-weight: 600;
    transition: 850ms;
}

.btnCadPaciente:hover {
    transform: scale(1.3);
    text-shadow: 1px 1px 1px #a7dffb;
    cursor: pointer;
}